*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Cairo',sans-serif;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

background:
linear-gradient(
135deg,
#001f4d,
#005eff,
#00c3ff
);

position:relative;
}

.bg{

position:absolute;

width:100%;
height:100%;

background:
radial-gradient(
circle at top left,
rgba(255,255,255,0.25),
transparent 35%
),

radial-gradient(
circle at bottom right,
rgba(255,255,255,0.15),
transparent 30%
);

filter:blur(10px);
}

.container{

width:100%;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

z-index:10;
}

.glass-card{

width:430px;

padding:35px;

border-radius:35px;

background:rgba(
255,
255,
255,
0.12
);

backdrop-filter:blur(25px);

border:1px solid rgba(
255,
255,
255,
0.18
);

box-shadow:
0 8px 40px rgba(
0,
0,
0,
0.35
);

animation:fade 1s ease;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}

.top{

text-align:center;

margin-bottom:30px;
}

.top h1{

font-size:42px;

font-weight:700;

color:white;

margin-bottom:10px;

letter-spacing:2px;
}

.top p{

color:rgba(
255,
255,
255,
0.85
);

font-size:15px;
}

.upload-area{

display:block;

width:100%;

padding:30px;

border-radius:25px;

background:rgba(
255,
255,
255,
0.10
);

border:2px dashed rgba(
255,
255,
255,
0.25
);

cursor:pointer;

transition:0.3s;

margin-bottom:20px;
}

.upload-area:hover{

transform:scale(1.02);

background:rgba(
255,
255,
255,
0.15
);
}

.upload-area input{

display:none;
}

.upload-content{

text-align:center;

color:white;
}

.upload-icon{

font-size:50px;

margin-bottom:10px;
}

.upload-content h3{

font-size:22px;

margin-bottom:8px;
}

.upload-content p{

font-size:14px;

opacity:0.8;
}

.select-wrapper{

margin-bottom:20px;
}

select{

width:100%;

padding:18px;

border:none;

outline:none;

border-radius:18px;

background:rgba(
255,
255,
255,
0.15
);

color:white;

font-size:16px;

backdrop-filter:blur(10px);
}

option{
color:black;
}

button{

width:100%;

padding:18px;

border:none;

border-radius:20px;

background:
linear-gradient(
135deg,
#001aff,
#00bfff
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:0.3s;
}

button:hover{

transform:translateY(-3px);

box-shadow:
0 10px 30px rgba(
0,
0,
0,
0.35
);
}

.bottom{

display:flex;

justify-content:space-between;

gap:12px;

margin-top:25px;
}

.item{

flex:1;

padding:12px;

text-align:center;

border-radius:15px;

background:rgba(
255,
255,
255,
0.10
);

color:white;

font-size:13px;

backdrop-filter:blur(10px);

border:1px solid rgba(
255,
255,
255,
0.10
);
}

@media(max-width:500px){

.glass-card{

width:100%;

padding:25px;
}

.top h1{

font-size:34px;
}

.bottom{

flex-direction:column;
}

}
